/*共通*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #B98D72;
}

/*ボタンデフォルトのリセット*/
.button_reset {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

/*ログイン画面*/
.beforeLogin {
    text-align: center;
    color: white;
    margin-top: 100px;
    font-size: 20px;
    font-family: 'Fugaz One', cursive;
}

/* ボタン類 */
.btn {
    background-color: rgb(196, 101, 108);
    color: white;
    font-weight: bold;
    transition: all 0.5s;
    border-radius: 10px;
}

.btn:hover {
    background-color: rgb(161, 55, 64);
}

#signIn {
    margin-top: 30px;
    font-size: 30px;
    padding: 0 40px 3px 40px;
    font-family: 'Fugaz One', cursive;
}

#signOut {
    margin-top: 15px;
    padding: 5px 25px;
    font-size: 20px;
    font-family: 'Fugaz One', cursive;
}

#sendLocation {
    padding: 5px 20px;
    font-size: 30px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}


/*ログイン後*/
h1 {
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Fugaz One', cursive;
}

h2 {
    font-family: 'Fugaz One', cursive;
}

.afterLogin {
    display: flex;
    display: -webkit-flex;
    background-color: white;
}

.mainWapper {
    display: block;
    position: relative;
    width: calc(100vw - 200px);
    height: 100vh;
    box-sizing: border-box;
}

#messageList {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}

.sideBarWapper {
    width: 200px;
    height: 100vh;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    background-color: #B98D72;
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    box-sizing: border-box;
}

#sendLocation {
    position: fixed;
    bottom: 25px;
    right: 100px;
}

.messageWapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.date {
    font-size: 10px;
    line-height: 1em;
}

.name {
    font-weight: bold;
    margin-right: 8px;
    margin-left: 5px;
    line-height: 1em;
}

.message > img {
    margin-bottom: 20px;
}
